.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
  }

.isaac {
  margin-top: 170px;
  margin-bottom: 670px;
  float: left;
  margin-right: 20px;
}

.story-container {
  margin-top: 245px;
  margin-bottom: 245px;
  padding-right: 40px;
  color: green;
  font-family: Blippo, fantasy;
  font-size: 1.3em;
}